.block-title {
    background-color: #ffffcc;
}

.green-light {
    background-color: #ccffcc;
}

tr.green-light td.essential {
    font-weight: bold;
}

.red-light {
    background-color: #ff9999;
}

td.comment {
     cursor: pointer;
}
div.alert {
    cursor: pointer;
}
