<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agrotep</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/images/logos/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}"/>
    <script defer th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script defer th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script defer th:src="@{/assets/js/sidebarmenu.js}"></script>
    <script defer th:src="@{/assets/js/app.min.js}"></script>
    <script defer th:src="@{/assets/libs/simplebar/dist/simplebar.js}"></script>
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <div class="text-nowrap logo-img">
                    <img th:src="@{/assets/images/logos/dark-logo.png}" width="180" alt=""/>
                </div>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <i class="ti ti-x fs-8"></i>
                </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Логістика</span>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="import-export.html" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                            <span class="hide-menu">Імпорт-експорт</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <div class="sidebar-link" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                            <span class="hide-menu">Готовність</span>
                        </div>
                    </li>
                    <li class="sidebar-item">
                        <div class="sidebar-link" aria-expanded="false">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                            <span class="hide-menu">Зошит</span>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item d-block d-xl-none">
                        <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                            <i class="ti ti-bell-ringing"></i>
                            <div class="notification bg-primary rounded-circle"></div>
                        </a>
                    </li>
                </ul>
                <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                    <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

                        <li class="nav-item dropdown">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img th:src="@{/assets/images/profile/user-1.jpg}" alt="" width="35" height="35"
                                     class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                 aria-labelledby="drop2">
                                <div class="message-body">
                                    <a class="d-flex align-items-center gap-2 dropdown-item">
                                        <i class="ti ti-user fs-6"></i>
                                        <p class="mb-0 fs-3">Мій Профіль</p>
                                    </a>
                                    <a class="d-flex align-items-center gap-2 dropdown-item">
                                        <i class="ti ti-list-check fs-6"></i>
                                        <p class="mb-0 fs-3">Мої Задачі</p>
                                    </a>

                                    <form th:action="@{/logout}" method="post">
                                        <input class="btn btn-outline-primary mx-3 mt-2 d-block" type="submit" value="Вийти з системи"/>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--  Header End -->


        <div class="container-fluid">
            <form action="#" th:action="@{/transportation-details/add}" th:object="${transportation}"
                  method="post">
                <!--  Row 1 -->
                <div class="row">

                    <!--  code input -->
                    <div class="col-lg-8 d-flex align-items-strech">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                    <div class="mb-3 mb-sm-0">
                                        <h5 class="card-title fw-semibold">Нове завантаження</h5>
                                    </div>
                                </div>

                                <input type="hidden" th:field="*{managerId}"/>

                                <label class="block text-sm" for="order-date">Дата, час</label>
                                <input id="order-date" class="form-select"
                                       type="date"
                                       th:field="*{orderDateStr}">
                                <input class="form-select"
                                       type="time"
                                       th:field="*{orderTimeStr}">
                                <!-- First Line: Input Select -->
                                <div class="mb-3">
                                    <label for="select-client">Клієнт</label>
                                    <select id="select-client" class="form-select"
                                            th:field="*{clientCompanyFromSelector}">
                                        <option value="option0">---</option>
                                        <option th:each="company: ${clientCompanies}" th:value="${company}"
                                                th:text="${company}">
                                            Fererro (оплата 45 календарних днів по виставленню
                                            інвойсу, ліміт 300000 грн)
                                        </option>
                                    </select>
                                    <input type="text" class="form-control" th:field="*{clientCompany}">
                                </div>

                                <!-- Second Line: Input Text, Input Number, Input Select -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="cargo-name">Вантаж</label>
                                        <input th:field="*{cargo}" type="text" id="cargo-name" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="cargo-weight">Вага, т</label>
                                        <input th:field="*{cargoWeightTons}" type="text" id="cargo-weight"
                                               class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="select-truck-type">Тип кузова</label>
                                        <select id="select-truck-type" class="form-select" th:field="*{typeOfTruck}">
                                            <option value="option0">---</option>
                                            <option value="реф">реф</option>
                                            <option value="тент">тент</option>
                                            <option value="2х-ярусник">2х-ярусник</option>

                                        </select>
                                    </div>
                                </div>

                                <!-- Third Line: Input Text, Input Number, Input Select -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="cargo-volume">Об'єм, м куб.</label>
                                        <input th:field="*{cargoVolumeM3}" type="text" id="cargo-volume"
                                               class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="cargo-places-number">К-ть місць</label>
                                        <input th:field="*{cargoPlacesNumber}" type="number" id="cargo-places-number"
                                               class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="cargo-places-type">Тип місць</label>
                                        <input id="cargo-places-type" class="form-control"
                                               th:field="*{cargoPlacesType}">
                                    </div>
                                </div>

                                <!-- Fourth Line: Two Input Number -->
                                <div class="row mb-3">
                                    <div class="col-2">
                                        <div class="form-check">
                                            <input th:field="*{isCargoThermalPrinterNeeded}" type="checkbox"
                                                   class="form-check-input" id="is-cargo-thermal-printer-needed">
                                            <label class="form-check-label" for="is-cargo-thermal-printer-needed">
                                                Потрібен роздрук термописця
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="temperature-min">мінімальна температура</label>
                                        <input th:field="*{temperatureMin}" type="number" id="temperature-min"
                                               class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="temperature-max">максимальна температура</label>
                                        <input th:field="*{temperatureMax}" type="number" id="temperature-max"
                                               class="form-control">
                                    </div>
                                </div>

                                <!-- Fifth Line: Seven Checkboxes -->
                                <div class="mb-3">
                                    <label>Checkboxes</label>
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="form-check">
                                                <input th:field="*{isCargoTir}" type="checkbox" class="form-check-input"
                                                       id="is-cargo-tir">
                                                <label class="form-check-label" for="is-cargo-tir">TIR</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-check">
                                                <input th:field="*{isCargoAdr}" type="checkbox" class="form-check-input"
                                                       id="is-cargo-adr">
                                                <label class="form-check-label text-danger"
                                                       for="is-cargo-adr">ADR</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-check">
                                                <input th:field="*{isCargoAdr1}" type="checkbox"
                                                       class="form-check-input" id="is-cargo-adr1">
                                                <label class="form-check-label text-danger"
                                                       for="is-cargo-adr1">ADR1</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-check">
                                                <input th:field="*{isCargoCustomsServicesPaid}" type="checkbox"
                                                       class="form-check-input" id="is-cargo-customs-services-paid">
                                                <label class="form-check-label" for="is-cargo-customs-services-paid">
                                                    мито
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-check">
                                                <input th:field="*{isPrinted}" type="checkbox" class="form-check-input"
                                                       id="is-printed">
                                                <label class="form-check-label" for="is-printed">Роздруківка</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-check">
                                                <input th:field="*{isCargoStickers}" type="checkbox"
                                                       class="form-check-input" id="is-cargo-stickers">
                                                <label class="form-check-label" for="is-cargo-stickers">Стікери</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Sixth Line: One Input Number, One Input Select, One Checkbox -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="freight">Фрахт</label>
                                        <input th:field="*{freight}" type="number" id="freight" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="currency">Валюта</label>
                                        <select th:field="*{currency}" id="currency" class="form-select">
                                            <option value="option0">---</option>
                                            <option value="option1">євро</option>
                                            <option value="option2">грн</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            <input th:field="*{isPaymentInCash}" type="checkbox"
                                                   class="form-check-input" id="is-payment-in-cash">
                                            <label class="form-check-label" for="is-payment-in-cash">***</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Seventh Line: Textarea -->
                                <div class="mb-3">
                                    <label for="textarea1">Коментар</label>
                                    <textarea th:field="*{coordinatorComment}" id="textarea1" class="form-control"
                                              rows="3"></textarea>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!--  code input -->

                    <div class="col-lg-4">
                        <div class="col-lg-12">
                            <!-- Завантаження -->
                            <div class="card overflow-hidden">
                                <div class="card-body p-4">
                                    <h5 class="card-title mb-9 fw-semibold">Завантаження</h5>

                                    <!-- First Line: Select Input, One Input Date, One Input Time -->
                                    <div class="row align-items-center mb-3">
                                        <div class="col-md-4">
                                            <label for="loading-type">Тип</label>
                                            <select th:field="*{loadingType}" id="loading-type" class="form-select">

                                                <option value="option1">Зав</option>
                                                <option value="option2">ЗавЗам</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="loading-date-str">Дата</label>
                                            <input th:field="*{loadingDateStr}" type="date" id="loading-date-str"
                                                   class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="loading-time-str">Час</label>
                                            <input th:field="*{loadingTimeStr}" type="time" id="loading-time-str"
                                                   class="form-control">
                                        </div>
                                    </div>

                                    <!-- Second Line: One Input Text, One Select Input -->
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <label for="loading-city">Місто</label>
                                            <input th:field="*{loadingCity}" type="text" id="loading-city"
                                                   class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="loading-country">Країна</label>
                                            <select th:field="*{loadingCountry}" id="loading-country"
                                                    class="form-select">
                                                <option value="option0">---</option>
                                                <option value="UA">UA</option>
                                                <option value="DE">DE</option>
                                                <option value="FR">FR</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Third Line: One Input Text, One Select Input -->
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <label for="loading-region">Область</label>
                                            <input th:field="*{loadingRegion}" type="text" id="loading-region"
                                                   class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="loading-city-postal-index">Пошт. код</label>
                                            <input th:field="*{loadingCityPostalIndex}" type="text"
                                                   id="loading-city-postal-index"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <!-- Forth Line: One Input Text, One Select Input -->
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <label for="loading-address">Адреса</label>
                                            <input th:field="*{loadingAddress}" type="text"
                                                   id="loading-address"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <!-- Fifth Line: One Input Text, One Select Input -->
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <label for="loading-latitude">Широта</label>
                                            <input th:field="*{loadingLatitude}" type="text"
                                                   id="loading-latitude"
                                                   class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="loading-longitude">Довгота</label>
                                            <input th:field="*{loadingLongitude}" type="text"
                                                   id="loading-longitude"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <!-- Розвантаження -->
                            <div class="card overflow-hidden">
                                <div class="card-body p-4">
                                    <h5 class="card-title mb-9 fw-semibold">Розвантаження</h5>

                                    <!-- First Line: Select Input, One Input Date, One Input Time -->
                                    <div class="row align-items-center mb-3">
                                        <div class="col-md-4">
                                            <label for="unloading-type">Тип</label>
                                            <select th:field="*{unloadingType}" id="unloading-type" class="form-select">

                                                <option value="option1">Розв</option>
                                                <option value="option2">РозвРозм</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="unloading-date-str">Дата</label>
                                            <input th:field="*{unloadingDateStr}" type="date" id="unloading-date-str"
                                                   class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="unloading-time-str">Час</label>
                                            <input th:field="*{unloadingTimeStr}" type="time" id="unloading-time-str"
                                                   class="form-control">
                                        </div>
                                    </div>

                                    <!-- Second Line: One Input Text, One Select Input -->
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <label for="unloading-city">Місто</label>
                                            <input th:field="*{unloadingCity}" type="text" id="unloading-city"
                                                   class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="unloading-country">Країна</label>
                                            <select th:field="*{unloadingCountry}" id="unloading-country"
                                                    class="form-select">
                                                <option value="option0">---</option>
                                                <option value="UA">UA</option>
                                                <option value="DE">DE</option>
                                                <option value="FR">FR</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Third Line: One Input Text, One Select Input -->
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <label for="unloading-region">Область</label>
                                            <input th:field="*{unloadingRegion}" type="text" id="unloading-region"
                                                   class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="unloading-city-postal-index">Пошт. код</label>
                                            <input th:field="*{unloadingCityPostalIndex}" type="text"
                                                   id="unloading-city-postal-index"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <!-- Forth Line: One Input Text, One Select Input -->
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <label for="unloading-address">Адреса</label>
                                            <input th:field="*{unloadingAddress}" type="text"
                                                   id="unloading-address"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <!-- Fifth Line: One Input Text, One Select Input -->
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <label for="unloading-latitude">Широта</label>
                                            <input th:field="*{unloadingLatitude}" type="text"
                                                   id="unloading-latitude"
                                                   class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="unloading-longitude">Довгота</label>
                                            <input th:field="*{unloadingLongitude}" type="text"
                                                   id="unloading-longitude"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary m-1">Додати в ДР</button>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success m-1">
                                    Розмістити перевезення
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>